In [3]:
# %run Session_3.ipynb

In [4]:
f = open("test.txt" , "a")

In [5]:
f.write("my name is ahmed")

16

In [6]:
f.close()

In [7]:
f = open("test.txt")

In [8]:
f.read()

'my name is ahmed'

In [44]:
with open("test.txt", "w" , encoding="utf-8") as f:
    f.write("my name is ahmed\n")
    f.write("my name is ahmed\n")    
    f.write("my name is ahmed\n")    
    f.write("my name is ahmed\n")    
    f.close()

In [45]:
with open("test.txt" , encoding="utf-8") as f:
    for i in f.readlines():
        print(i)

my name is ahmed

my name is ahmed

my name is ahmed

my name is ahmed

In [46]:
import module

In [47]:
module.add(10,10)

20

In [48]:
module.multip(10,10)

100

In [10]:
lst = [1,2,3,4,5]
[ i * 2 for i in lst]

[2, 4, 6, 8, 10]

In [11]:
def factorial(x):
    if x == 1:
        return 1 
    else:
        return x * factorial(x-1)

In [12]:
factorial(5)

120

In [13]:
t = (1,2,3,4,5)

In [20]:
try:
    print(t.index(1))
except:
    print("the number not in tuple")
else:
    print("Great")
finally:
    print("try and except ended")

0
Great
try and except ended

In [32]:
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?`~ "
string1 = "asdf@#$%$dfdf"
def cleaned_text(word):
    s = ''
    for i in word:
        if i in illegal_chars:
            s += ''
        else:
            s += i
    return s

In [33]:
cleaned_text(string1)

'asdfdfdf'

In [34]:
lst = ["ahmed" , "salem" , "mohamed" , "mohanad" , "kareem" , "aya"]

In [41]:
le = []
for i in lst:
    le.append(len(i))
# m_l = max(le)
print(le)
lst[le.index(max(le))]

[5, 5, 7, 7, 6, 3]

'mohamed'

In [46]:
max(lst , key = len)

'mohamed'

In [47]:
min(lst , key = len)

'aya'

In [49]:
string = "lala"
if string == string[::-1]:
    print(True)
else:
    print(False)

False

In [50]:
t = (1,2,3,4)

In [51]:
t.index(5)

ValueError: tuple.index(x): x not in tuple

In [59]:
try:
    print(t.index(31))
except:
    print("number not in tuple")
else:
    print("Great")
finally:
    print("good")

number not in tuple
good

In [64]:
# def add(n1 , n2):
#     return n1+n2

In [65]:
add = lambda n1 ,n2 : n1+n2

In [66]:
add(10,20)

30

In [68]:
lst = [1,2,3]
[ i ** i for i in lst]

[1, 4, 27]

In [71]:
lst = [1,2,3]
[ i+i for i in lst]

[2, 4, 6]

In [72]:
lst = [[1,2,3],[4,5,6]]

In [75]:
for i in lst:
    for j in i:
        print(j)

1
2
3
4
5
6

In [80]:
f = open("test2.txt" , "w")

In [82]:
f.write("my name is ahmed")

16

In [84]:
f.close()

In [85]:
f = open("test2.txt" , "r")
f.read()

'my name is ahmed'

In [86]:
f = open("test3.txt" , "a")

In [87]:
f.write("my name is ahmed ")

17

In [88]:
f.close()

In [89]:
f = open("test3.txt" , "w")

In [90]:
f.write("..")

2

In [91]:
f.close()

In [92]:
f = open("test3.txt")
f.read()

'..'

In [94]:
f = open("test4.txt" , 'x')

In [104]:
with open("test.txt", "w" , encoding="utf-8") as f:
    f.write("my name is احمد \n")
    f.write("my name is ahmed\n")    
    f.write("my name is ahmed\n")    
    f.write("my name is ahmed\n")    
    f.close()

In [114]:
with open("test.txt", "r" , encoding="utf-8") as f:
    lst = f.readlines()
    lst2=[]
    for i in lst:
        lst2.append(i.strip())
    print(lst2)

['my name is احمد', 'my name is ahmed', 'my name is ahmed', 'my name is ahmed']

In [110]:
x = "   ahmed \n\t   "
x

'   ahmed \n\t   '

In [111]:
x.strip()

'ahmed'

In [9]:
import module_1 as mo
# from module_1 import add , multp
dir(mo)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'multp']

In [5]:
add(1,2,3)

6

In [6]:
multp(1,2,3)

6

In [18]:
import random

In [19]:
# dir(random)

In [20]:
help(random.random)

Help on built-in function random:

random() method of random.Random instance
    random() -> x in the interval [0, 1).

In [23]:
random.random()

0.9089088118630881

In [49]:
random.randint(1,10)

2

In [50]:
random.randrange(1,10)

5

In [60]:
random.choice(["ahmed","a","b"])

'a'

In [69]:
lst = [1,2,3,4,5,6,7,8]
random.shuffle(lst)
lst

[5, 1, 3, 7, 8, 2, 6, 4]

In [13]:
%%writefile test4.txt
my name is ahmed  my age is 30

Overwriting test4.txt

In [14]:
f =open("test4.txt")
f.readlines()

['my name is ahmed  my age is 30\n']

In [15]:
import re

In [16]:
pattern = "ahmed"
text = "my name is ahmed and ahmed is very good in speaking and ahmed can play a football"

In [20]:
match = re.search(pattern , text)

In [23]:
match.span()

(11, 16)

In [128]:
class Dog:
    def __init__(self , name , age):
        self.name = name
        self.age  = age
        print(f"Hello {name}")

In [129]:
d1 = Dog("ahmed" , 25)

Hello ahmed

In [130]:
print(d1.name)

ahmed

In [131]:
d1.age

25

In [132]:
d2 = Dog("mo" , 26)

Hello mo

In [133]:
Dog.name = "so"

In [134]:
d1.name

'ahmed'

In [136]:
class Person:
    __name = "John"
    
    def get_name(self):
        return self.__name
    
    def set_name(self, name):
        self.__name = name

p = Person()
print(p.get_name()) # this will print John
p.set_name("Mike")
print(p.get_name()) # this will print Mike

John
Mike

In [161]:
class Animal:
    def __init__(self , name , age):
        self.name = name
        self.age = age
    def eat(self , food):
        print('%s is eating %s.  %s' %(self.name , food , self.age))
class Dog(Animal):
    def fetch(self , thing):
        print('%s goes after the %s!' %(self.name , thing))
class Cat(Animal):
    def swatstring(self):
        print('%s shreds the string!' %(self.name))
# A = Animal('Animal')
d = Dog('Ranger' , 23)
c = Cat('MeOw' , 23)

d.fetch('ball')
c.swatstring()
d.eat('Dog')
c.eat('Cat Food')
# d.swatstring()

Ranger goes after the ball!
MeOw shreds the string!
Ranger is eating Dog.  23
MeOw is eating Cat Food.  23